body {
    font-family: "Comfortaa";
}

main {
    padding: 20px;
    padding-bottom: 60px;
}

section {
    padding: 5px;

    background-color: #fff;
}

h1 {
    padding: 5px;

    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

div#state-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

div#state-container div.state {
    display: inline-block;
    width: 100px;
    padding: 15px;
    margin: 10px 0;

    text-align: center;

    box-shadow: 0 0 3px #ccc inset;

    user-select: none;
}

div#state-container div.state.selected {
    color: #fff;

    background-color: #0060df;
    box-shadow: none;
}

div#state-container div.state i#work-icon {
    margin-right: 12px;
}

div#state-container div.state i#break-icon {
    margin-left: 12px;
}

div#state-container div.state#work-state {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#state-container div.state#break-state {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div#timer-container {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px auto;

    font-size: 40px;
    font-family: "Roboto Mono", "Consolas", monospace;
    text-align: center;
    line-height: 200px;

    border-radius: 100px;
    box-shadow: 0 0 10px #ccc inset;
    
    user-select: none;
}

div#timer-container canvas#timer-canvas {
    position: relative;
    width: 210px;
    height: 210px;
    top: -205px;
    left: -5px;

    background-color: transparent;
}

div#buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

button#start-reset-button,
button#mute-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;

    text-align: center;

    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 3px #ccc;

    background-color: #fff;
}

button#start-reset-button:hover,
button#mute-button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

div#duration-config-container {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

div#duration-config-container div#work-duration-config-container,
div#duration-config-container div#break-duration-config-container {
    width: 170px;
    padding: 5px;
}

div#duration-config-container label {
    display: block;

    text-align: center;

    cursor: text;
}

div#duration-config-container input {
    display: block;
    width: 120px;
    margin: 10px;
}

div.duration-config-outer {
    display: block;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;

    background-color: #000;
}

footer p {
    text-align: center;
    color: #fff;
}
